.list {

	h3 {
		color: $secondary;
		font-family: $font-headline;
		font-size: 24px;
		line-height: 32px;
		margin: 20px 0;
	}

	ul {
		list-style: square;
		padding-left: 20px;

		li {
			color: $tertiary;
			font-family: $font-copy;
			font-size: 16px;
			line-height: 24px;
		}
	}
}