.logo {
	align-items: center;
	border-radius: 6px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 210px;
	justify-content: space-between;
	margin: 32px 0 64px;
	padding: 20px;

	&--mobile {
		margin: 32px 0;
		.logo-wrapper {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}

		span {
			color: $tertiary !important;
		}

		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	&-wrapper {
		background: $white;
		border-radius: 50%;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 10px;
		height: 120px;
		width: 120px;

		h1 {
			border: 6px solid $tertiary;
			border-radius: 50%;
			box-sizing: border-box;
			color: $primary;
			font-family: $font-headline;
			font-size: 70px;
			font-weight: bold;
			line-height: 90px;
			padding: 0 20px;
			text-align: center;
		}
	}

	span {
		color: $white;
		font-family: $font-copy;
		font-size: 20px;
		font-style: italic;
		font-weight: bold;
		letter-spacing: 1px;
		text-align: center;
	}
}