.logo {
	align-items: center;
	border-radius: 6px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 32px 0 64px;
	padding: 20px;

	&--hidden {
		display: none !important;
	}

	&--map {
		margin: 0 auto;
		padding-bottom: 100px;
		position: relative;

		canvas {
			left: 50%;
			position: absolute;
			top: -20px;
			transform: translatex(-50%);
		}
	}

	&--mobile {
		margin: 16px 0;
		.logo-wrapper {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}

		span {
			color: $tertiary !important;
		}

		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	&-wrapper {
		background: $white;
		border-radius: 50%;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 10px;
		height: 120px;
		width: 120px;

		h1 {
			border: 6px solid $tertiary;
			border-radius: 50%;
			box-sizing: border-box;
			color: $primary;
			font-family: $font-headline;
			font-size: 70px;
			font-weight: bold;
			line-height: 90px;
			padding: 0 20px;
			text-align: center;
		}
	}
}

canvas {
	height: 100px;
	transform: translateY(-30px);
}