.headline	 {
	color: $tertiary;
	display: inline-block;
	font-family: $font-headline;
	font-size: 48px;
	line-height: 52px;
	margin: 30px 0 48px;
	position: relative;
	text-align: center;

	&:after {
		border-bottom: 4px solid $primary;
		bottom: -10px;
		content: '';
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 100%;
	}

	&__wrapper {
		align-items: center;
		display: flex;
		flex: 1 auto;
		flex-direction: row;
		justify-content: center;

		@media screen and (min-width: 768px) {
			justify-content: flex-end;
		}
	}
}

p {
	color: $secondary;
	font-family: $font-copy;
	font-size: 16px;
	line-height: 24px;
}