@import 'reset';
@import 'config';
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import 'typography';
@import './components/app';
@import './components/contact';
@import './components/hamburger';
@import './components/hero';
@import './components/link';
@import './components/list';
@import './components/logo';
@import'./components/map';
@import './components/menu';
@import './components/nav';

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html {
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
}

.wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 15px;
	width: 100%;

	@media screen and (min-width: 768px) {
		padding: 0 20px;
	}
}

.image-gallery-thumbnail {
	cursor: pointer;
	transition: all .3s ease-in !important;
}

.image-gallery-swipe,
.image-gallery-thumbnails-container {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
	border: 3px solid $primary;
}

.image-gallery-svg {
	transition: all .3s ease-in !important;

	&:hover {
		color: $primary !important;
	}
}